$big-heading: 3.75rem;
$big-sub-heading: 3.5rem;
$medium-heading: 3.5rem;
$medium-sub-heading: 3.25rem;
$small-heading: 3rem;
$small-sub-heading: 2.75rem;
$big-fs: 2.5rem;
$big-sub-fs: 2.25rem;
$medium-fs: 2rem;
$medium-sub-fs: 1.75rem;
$small-fs: 1.5rem;
$small-sub-fs: 1.25rem;
